# kube configs
.kube/
kubeconfig
*.kubeconfig

# local secrets / overrides
secret.yaml
secret*.yaml
*.env
*.key
*.pem

# KrakenD endpoint configs (keep these secret!)
**/krakend-configs/*/endpoints.json
**/krakend-configs/*/krakend.json

# editors
.vscode/
.idea/

# OS
.DS_Store
