apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: homarr
  namespace: homarr-v1
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: "true"
    # Protect Homarr with Authentik
    traefik.ingress.kubernetes.io/router.middlewares: authentik-authentik-forwardauth@kubernetescrd
spec:
  ingressClassName: traefik
  rules:
  - host: home-v1.krockysphere.com  # CHANGE THIS - using v1 subdomain for testing
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: homarr
            port:
              number: 3000
  tls:
  - hosts:
    - home-v1.krockysphere.com  # CHANGE THIS - should match host above
    secretName: homarr-v1-tls
