apiVersion: v1
kind: ConfigMap
metadata:
  name: cloudflared-config
  namespace: tunnel
data:
  config.yaml: |
    # Remove tunnel: and credentials-file: lines when using TUNNEL_TOKEN
    ingress:
      - hostname: argocd.krockysphere.com
        service: http://argocd-server.argocd.svc.cluster.local:8080
      - hostname: auth.krockysphere.com
        service: http://authentik-server.authentik.svc.cluster.local:9000
      - hostname: home.krockysphere.com
        service: http://homarr.homarr.svc.cluster.local:7575
      - hostname: windmill.krockysphere.com
        service: http://windmill.windmill.svc.cluster.local:80
      - hostname: grafana.krockysphere.com
        service: http://monitoring-grafana.monitoring.svc.cluster.local:80
      - hostname: automationsv2.krockysphere.com
        service: http://n8n.n8n.svc.cluster.local:80
      - service: http_status:404
