apiVersion: v1
kind: ConfigMap
metadata:
  name: cloudflared-config
  namespace: tunnel
data:
  config.yaml: |
    tunnel: ${TUNNEL_ID}
    credentials-file: /etc/cloudflared/${TUNNEL_ID}.json
    ingress:
      - hostname: windmill.krockysphere.com
        service: http://windmill.windmill.svc.cluster.local:80
      - hostname: grafana.krockysphere.com
        service: http://monitoring-grafana.monitoring.svc.cluster.local:80
      - hostname: automationsv2.krockysphere.com
        service: http://n8n.n8n.svc.cluster.local:80
      - service: http_status:404
